* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Initial presets for webpage */

html {
    margin: 0 200px 0 200px;
}

:root {
    --gold: #ffe7bb;
    --gold2: #ceb397;
    --gold3: #996a37;
    --black: #000000;
    --white: #ffffff;
}


@font-face {
    font-family: "Gatz";
    src: url(Fonts/Andes.ttf);
}

@font-face {
    font-family: "body";
    src: url(Fonts/intrepid.ttf);
}

@media only screen and (max-width: 1200px){
    html{
        margin: 0 100px 0 100px;
    }
}

@media only screen and (max-width: 800px){
    html{
        margin: 0 50px 0 50px;
    }
}

.centre{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* Header and Links */

header {
    font-size: 20pt;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 10px;
    font-family: 'Gatz', Verdana, Tahoma, sans-serif ;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

h1{
    font-size: 50pt;
    letter-spacing: 5px;
    font-weight: lighter;
}

header p{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

header ul li{
    display: inline-block;
    padding: 10px 25px 0 25px;
}

header ul li a{
    color: var(--gold);
    text-decoration: none;
}

a:link{
    color: var(--gold);
}
a:hover{
    color: var(--gold2)
}
a:active{
    color: var(--gold3)
}

main{
    background-color: var(--black);
}

/* Main banner */

.glass{
    position: relative;
    color: var(--white);
    padding-bottom: 10px;
    background-color: var(--black);
    border-radius: 0 0 -20px -20px;
}

/* About me*/

section h2{
    font-size: 30pt;
    font-weight: lighter;
    font-family: 'Gatz', Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

section {
    font-family: 'body',Verdana, Tahoma, sans-serif;
    font-size: 14pt;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
    background-color: var(--white);
    color: rgb(0, 0, 0);
    padding: 20px 20px 30px 20px;
    border-radius: 20px 20px 0 0;
    margin: 0 4px 0 4px;
}

section a{
    text-decoration: none;
    color: #996a37;
}

/* Work */

article {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    margin: 0 4px 0 4px;
    padding: 20px;
    padding-bottom: 75px;
    min-height: 0;
    border-radius: 0 0 20px 20px;
}

article h2{
    font-size: 30pt;
    font-weight: lighter;
    font-family: 'Gatz', Verdana, Tahoma, sans-serif;
    padding-bottom: 10px;
    padding-right: 100%;
}

.box1 img{
    width: 100%;

}

.box1{
    height: fit-content;
    flex: 1 1 100%;
    border: 4px;
    border-style: solid;
    margin: 2px;
    text-decoration: none;
    position: relative;
}

.container{
    display: inline-flex;
    width: fit-content;
    max-width: 90%;
    flex-direction: column;
    padding: 10px;
    background-color: var(--white);
    position: absolute;
    bottom: 5%;
    left: 5%;
    justify-content: space-evenly;
    flex-shrink: 2;
}

.container h3{
    position: relative;
    width: fit-content;
    font-size: 2vw;
    font-weight: lighter;
    font-family: 'Gatz', Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;    
}

.container p{
    position: relative;
    width: fit-content;
    font-size: 1vw;
    font-family: 'body',Verdana, Tahoma, sans-serif; ;
}

.box img{
    width: 100%;
}

.box{
    height: 100%;
    flex: 1 1 200px;
    border: 4px;
    border-style: solid;
    margin: 2px;
    position: relative;
}

@media only screen and (max-width: 1200px){
    .container h3{
        font-size: 3vw;
    }
    .container p{
        font-size: 1.5vw ;
    }
}

@media only screen and (max-width: 800px){
    .container h3{
        font-size: 4vw;
    }
    .container p{
        font-size: 2vw ;
    }
}

/* Footer */

footer{
    padding: 10px 0 30px 0;
}

footer h2{
    color: var(--white);
    font-size: 30pt;
    font-weight: lighter;
    font-family: 'Gatz', Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    padding: 25px;
}

footer a{
    padding: 25px 25px 0px 25px;
    text-decoration: none;
    color: var(--gold);
}

.base{
    background-color: var(--white);
    padding: 50px;
}

.box1 a{
    height: 100px;
    width: 100px;
}